.about-hero {
    height: 700px;
    width: 100%;
    background-image: url('../../../assets/images/about-hero-bg.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;

    &__container {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 120px;
        box-sizing: border-box;
        color: #fff;
    }

    &__title {
        font-family: 'PP Object Sans', sans-serif;
        font-weight: 800;
        font-size: 104px;
        line-height: 100%;
        text-transform: uppercase;
        margin: 260px 0 32px 0;
    }

    &__subtitle {
        font-family: 'PP Object Sans', sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 100%;
        max-width: 860px;
        margin: 0 0 48px 0;
    }

    &__button {
        font-family: 'PP Object Sans', sans-serif;
        font-weight: 400;
        font-size: 20px;
        padding: 24px 80px;
        border-radius: 100px;
        background-color: #587E88;
        color: #fff;
        border: none;
        cursor: pointer;
    }

    @media (max-width: 1250px) {
        height: auto;
        padding-block: 20px;

        &__title {
            font-size: 72px;
            margin-top: 200px;
        }
    }

    @media (max-width: 992px) {
        &__container {
            padding: 0 60px;
        }

        &__title {
            font-size: 56px;
            margin-top: 180px;
        }

        &__button {
            padding: 20px 60px;
            font-size: 18px;
        }
    }

    @media (max-width: 768px) {
        &__title {
            font-size: 42px;
            margin-top: 160px;
        }

        &__subtitle {
            font-size: 18px;
        }

        &__button {
            padding: 18px 48px;
            font-size: 16px;
        }
    }

    @media (max-width: 576px) {
        &__container {
            padding: 0 20px;
            text-align: center;
        }

        &__title {
            font-size: 32px;
            margin-top: 140px;
        }

        &__subtitle {
            font-size: 16px;
        }

        &__button {
            padding: 16px 32px;
            font-size: 14px;
        }
    }
}